.topPage {
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.link {
  text-decoration: none;
  color: black;
}

.card {
  border: 1px solid black;
  margin: 1rem;
}
